USE [master]
GO
CREATE DATABASE [AROMASDATABASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AROMASDATABASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AROMASDATABASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AROMASDATABASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AROMASDATABASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AROMASDATABASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AROMASDATABASE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [smallint] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[ProviderId] [int] NULL,
	[Specification] [nvarchar](255) NOT NULL,
	[EventDate] [datetime2](0) NOT NULL,
	[CustomerId] [smallint] NULL,
	[TotalPrice] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [char](13) NULL,
	[Category] [char](1) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[InventoryAmount] [int] NOT NULL,
	[Specification] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [tinyint] NULL,
	[EventDate] [datetime2](0) NOT NULL,
	[Discount] [decimal](8, 2) NOT NULL,
	[CustomerId] [smallint] NULL,
 CONSTRAINT [PK_SaleId] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Amount] [int] NOT NULL,
	[SalePrice] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_DetailId] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProvider](
	[ProviderId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [tinyint] NULL,
	[SaleId] [int] NULL,
	[EventDate] [datetime2](0) NOT NULL,
	[Currency] [char](1) NOT NULL,
	[Amount] [decimal](8, 2) NOT NULL,
	[Parcel] [tinyint] NOT NULL,
	[Category] [char](1) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[JobId] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaultBalance](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceDate] [datetime2](7) NOT NULL,
	[Balance] [decimal](8, 2) NOT NULL,
	[AdjustmentType] [char](1) NOT NULL,
	[EmployeeId] [tinyint] NULL,
 CONSTRAINT [PK_BalanceId] PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sale] ADD  DEFAULT (getdate()) FOR [EventDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [EventDate]
GO
ALTER TABLE [dbo].[VaultBalance] ADD  DEFAULT (getdate()) FOR [ReferenceDate]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Job] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Customer_Job]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[ServiceProvider] ([ProviderId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Provider]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSale] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_CustomerSale]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSale] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_EmployeeSale]
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetailSale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
GO
ALTER TABLE [dbo].[SaleDetail] CHECK CONSTRAINT [FK_SaleDetailSale]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTransaction] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_EmployeeTransaction]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_SaleTransaction] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_SaleTransaction]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BackupDatabases]  
AS 
BACKUP DATABASE AROMASDATABASE
TO DISK = 'C:\Users\LOS ARES\Google Drive\AROMASDATABASE.bak'
WITH INIT
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CalculateVaultAmount]
AS
BEGIN
DECLARE @LastBalanceDate DATETIME2(0)
DECLARE @LastBalance DECIMAL(8,2)
DECLARE @CurrentIncome DECIMAL(8,2)
DECLARE @CurrentOutflow DECIMAL(8,2)
DECLARE @ComputedVaultBalance DECIMAL(8,2)

SET @LastBalanceDate = 

(SELECT TOP 1 ReferenceDate
FROM AROMASDATABASE.dbo.VaultBalance
ORDER BY ReferenceDate DESC)

SET @LastBalance =

(SELECT TOP 1 Balance
FROM AROMASDATABASE.dbo.VaultBalance
ORDER BY ReferenceDate DESC)

SET @CurrentIncome = 
(SELECT SUM(Amount) 
FROM Transactions 
WHERE Currency = 'M' AND Category NOT IN ('W', 'R') AND EventDate > @LastBalanceDate)

SET @CurrentOutflow = 
(SELECT SUM(Amount) 
FROM Transactions 
WHERE Currency = 'M' AND Category IN ('W', 'R') AND EventDate > @LastBalanceDate)

SET @ComputedVaultBalance = (SELECT (COALESCE(@LastBalance, 0) + COALESCE(@CurrentIncome, 0) - COALESCE(@CurrentOutflow, 0)))

INSERT INTO VaultBalance VALUES (GETDATE(), @ComputedVaultBalance, 'A', 1)
END
GO
USE [master]
GO